.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  border-bottom: 5px solid white;
  /*margin-bottom: 18px;*/
  /*margin-top: 6px;*/
  margin: 3px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  border-top: 5px solid white;
  /*margin-bottom: 18px;*/
  /*margin-top: 6px;*/
  margin: 3px;
}
